.imagen-superpuesta {
  position: relative;
  top: +70px;  
}
.Historia{
text-align: justify;
}

.aqui{
background-color: green;
border-radius: 6px;
}
.mensaje-apoyar{
color: white;
font-weight: bold;

}





/* Móvil (pantallas pequeñas, hasta 767px) */
@media (max-width: 767px) {
  .imagenes-historia {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 15px;
  }

  .border1 {
    width: 100% !important;   /* fuerza la columna a ocupar todo el ancho */
   
  }

  .border1 img {
    width: 100%;          
    height: auto;         
    border-radius: 8px;
   
    object-fit: cover;    
    display: block;
  }

  .imagen-superpuesta {
    top: 0;
  }
.aqui{
display: none;
}


}



/* Tablet (pantallas medianas, de 768px a 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
.imagnes-historia {
  display: flex;

  }

  .imagen-superpuesta{
  position: relative;
  top: 0;
  
  }

  .aqui{
display: none;
}
  
}
